.social-nav-icon {
	color: "#fff";
	font-size: larger;
	margin-right: 10px;
	margin-top: auto;
}

.social-nav-icon:hover {
	cursor: pointer;
	color: rgb(165, 165, 165);
}

.social-nav-icon.linkedin:hover {
	color: #0e65c4;
}

.social-nav-icon.facebook:hover {
	color: #1094f4;
}

.social-nav-icon.sun:hover {
	color: #fcb100;
}
