main {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
}

.sides {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: 100%;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
	height: 100%;
}

.left-side {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.right-side {
	display: flex;
	height: 100%;
	width: 100%;
}

#sobre {
	margin-top: 15vh;
	display: grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: auto;
	/* grid-column-gap: 5%; */
	grid-row-gap: 0px;
}

#sobre div {
	margin-left: 5px;
	margin-right: 5px;
}

.spotify {
	width: 99%;
	height: 100%;
}

.title-section {
	font-size: x-large;
}

@media screen and (max-width: 900px) {
	.sides {
		display: grid;
		grid-template-columns: repeat(1, auto);
	}
	.right-side {
		display: none;
	}
	.left-side div h1 {
		text-align: center;
	}
	.left-side div h2 {
		text-align: center;
	}
	#sobre {
		margin-top: 10vh;
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: auto;
		grid-column-gap: 0px;
		grid-row-gap: 50px;
	}
	.spotify {
		width: 99%;
		height: 250px;
	}
	.hide-mobile {
		display: none;
	}
}

/* https://codepen.io/nxworld/pen/OyRrGy */
.scroll {
	position: absolute;
	top: 85vh;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid;
	border-bottom: 1px solid;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-animation: sdb04 2s infinite;
	animation: scroll-anim 2s infinite;
	box-sizing: border-box;
	z-index: 1;
}

@-webkit-keyframes scroll-anim {
	0% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		-webkit-transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		-webkit-transform: rotate(-45deg) translate(0, 0);
	}
}
@keyframes scroll-anim {
	0% {
		transform: rotate(-45deg) translate(0, 0);
	}
	20% {
		transform: rotate(-45deg) translate(-10px, 10px);
	}
	40% {
		transform: rotate(-45deg) translate(0, 0);
	}
}
